<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>

<body>
    <main>
        <header>
            <nav>
                {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Login</a>
                {%endif%}
            </nav>
        </header>
        <div>
            <h1>Login</h1>
            <form method="post">


                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>


                <button>Login</button>

            </form>

        </div>

    </main>

</body>

</html>
