<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acccounts</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <a href="{% url 'home' %}">Main Page</a>
                <a href="{% url 'create_account' %}">Create Account</a>
            </nav>
        </header>
        <h1>Accounts</h1>
        <table border="1">
        <thead>
            <tr>
                <th>Names</th>
                <th>Number</th>
                <th>Numbers of reciepts</th>
            </tr>
        </thead>
        <tbody>
            {%for category in av %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.number }}</td>
                <td>{{ category.receipts.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
